<div class="cart-modal x" data-controller="modal" data-target="modal.body">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Edit Purchase</h3>
      <button type="button" class="close" data-dismiss="modal" data-action="modal#close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <!-- 書本封面 -->
        <div class="col-6">
          <%#= render partial: "shared/frontend/book_cover", locals: {book: book, size: :large} %>
          <div><%#= book.title %></div>
          <div><%#= book.authors[0].name %></div>
        </div>

        <div class="col-6">
          <!-- Slider -->
          <%#= render partial: "shared/frontend/price_slider", locals: {book: book} %>
          <!-- 更新價格按鈕 -->
          <div class="update-price mt-auto">
            <span>YOU PAY</span>
            <span class="hint">(US$)</span>
            <form action="" class="update-price-form">
              <input type="text", class="cart-price text-center d-block mt-1 mb-4">
              <input type="submit" value="Update" class="update-btn btn btn-danger main-btn">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>