<section class=" bg-gray-800 text-white mt-20 ">
  <footer class="h-64 flex justify-center " >
    <p>Simpub is copyright © 2010-2020 Ruboss Technology Corp. All rights reserved.</p>
  </footer>
</section>