<section class=" text-white mt-64">
  <div class="h-24 bg-gray-800 w-screen flex justify-center fixed-bottom" >
    <span class="text-center self-end" >
      Simpub is copyright © 2010-2020 Ruboss Technology Corp. All rights reserved.
    </span>
  </div>
</section> 