<footer class="footer py-2 w-100 bg-dark">
	<div class="container col-md-12 col-lg-6">
    <div class="row align-items-center justify-content-center text-center">
      <span>Copyright © 2020 Simpub Corp. <br>All rights reserved.</span>
    </div>
	</div>
</footer>