  <div class="container d-flex justify-content-center">
    <div>
      <h1 class="col">Follow</h1>
      
      <div class="col">
        <p>追隨中</p>
        <ul class="list-group list-group-flush">
          <% @followers.each do |follower| %>
            <li class="list-group-item"><%= link_to follower.name, profile_path(follower.username) %></li>
          <% end %>
        </ul>
      </div>
      
      <div class="col">
        <p>追隨者</p>
        <ul class="list-group list-group-flush">
          <% @followees.each do |followee| %>
            <li class="list-group-item"><%= link_to followee.name, profile_path(followee.username) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
