<section class="txt container">
  <h2>Wish List for <%= current_user.name %></h2>

  <div class="row">
    <div class="col-6 mx-auto row">
      <div class="text-right ml-auto cover-box">
        <img src="https://picsum.photos/100/160/?random=1">
      </div>
      <div class="pl-3 mr-auto my-auto">
        <p>title</p>
        <div>
          <button>Move to cart</button>
          <button>Remove from your wish list</button>
        </div>
      </div>
    </div>
  </div>
</section>