<div class="h3 text-white  pl-5 pt-5">Purchase</div>

<div class="container purchase d-flex text-white">
  <p class="text-center h2 mx-auto align-self-center">
    <%= link_to "Get some books", books_path, class: "" %> <br>
    or <br>
    <%= link_to "Is there any book in your shopping cart",cart_path ,class:"" %>
  </p>

</div>