<div class="home container">
	<div class="row">
		<div class="col-4 d-flex flex-column justify-content-around">
			<div class="logo d-flex justify-content-center align-items-center">
			</div>
			<div class="txt my-2">
				<p class="content-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error magni
					quasi quae vel, odio enim ut non iusto conseq uatur magnam est,
					culpa eius, officia voluptas sunt cum quibusda mentium facilis, unde
					distinctio culpa eius, officia volup tas sunt cum quibusdam?</p>
			</div>
			<div class="button-group">
				<%= link_to "Create a Book", new_book_path, class: "btn btn-danger main-button my-1" %>
			</div>
		</div>
		<div class="cover col-4">
			<img class="w-100" src="https://picsum.photos/400/600/?random=2" />
		</div>
		<div class="col-4 d-flex flex-column justify-content-around">
			<h1 class="title h1">Book Title</h1>
			<div class="author-info d-flex align-items-center">
				<img
					class="rounded-circle mr-2"
					src="https://picsum.photos/50/50/?random=3"
				/>
				<span class="name mx-2">John Doe</span>
			</div>
			<p class="content-text"> 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error magni
				quasi quae vel, odio enim ut non iusto conse quatur magnam est,
				veritatis adipisci dolorem temp oribus! Dolor nulla necess itatibus
				perspiciatis voluptas illum? Iure rerum at exercita tionem earum qui
				quia voluptates praes entium facilis, unde distinctio culpa eius,
				officia voluptas sunt cum quibusdam? sda m?entium facilis, unde disti
				nctio culpa eius, officia voluptas sunt cum quibusda mentium facilis,
				unde distinctio culpa eius, officia volup tas sunt cum quibusdam?</p>
			<div class="button-group">
				<%= link_to "Find More Books", :books, class: "btn btn-danger main-button" %>
			</div>
		</div>
	</div>
</div>
