<div class="container">
	<div class="row">
		<div class="col-4 d-flex flex-column justify-content-around">
			<div class="logo d-flex justify-content-center align-items-center">
				<div class="logo-img mx-3">
					<img
						class="rounded-circle"
						src="https://picsum.photos/90/90/?random=1"
						alt=""
					/>
				</div>
				<div class="slogan mx-3">Simple publishing.<br />Simple Writing.</div>
			</div>
			<div class="txt my-2">
			  <h2>Book SubTitle</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error magni
					quasi quae vel, odio enim ut non iusto conseq uatur magnam est,
					veritatis adipisci dolorem temporibus! Dolor nulla necessitatibus
					persp iciatis voluptas illum? Iure rerum at exercit ationem earum qui
					quia voluptates praese ntium facilis, unde distinctio culpa eius,
					officia voluptas sunt cum quibusda m?entium facilis, unde distinctio
					culpa eius, officia voluptas sunt cum quibusda mentium facilis, unde
					distinctio culpa eius, officia volup tas sunt cum quibusdam?
				</p>
			</div>
			<div class="button-group">
				<button type="button" class="btn btn-primary">Create a Book</button>
				<button type="button" class="btn btn-outline-secondary">
					Learn More
				</button>
			</div>
		</div>
		<div class="cover col-4">
			<img class="w-100" src="https://picsum.photos/400/600/?random=2" />
		</div>
		<div class="col-4 d-flex flex-column justify-content-around">
			<h1>Book Title</h1>
			<div class="author-info d-flex align-items-center">
				<img
					class="rounded-circle mr-2"
					src="https://picsum.photos/50/50/?random=3"
				/>
				<span class="name mx-2">John Doe</span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error magni
				quasi quae vel, odio enim ut non iusto conse quatur magnam est,
				veritatis adipisci dolorem temp oribus! Dolor nulla necess itatibus
				perspiciatis voluptas illum? Iure rerum at exercita tionem earum qui
				quia voluptates praes entium facilis, unde distinctio culpa eius,
				officia voluptas sunt cum quibusdam? sda m?entium facilis, unde disti
				nctio culpa eius, officia voluptas sunt cum quibusda mentium facilis,
				unde distinctio culpa eius, officia volup tas sunt cum quibusdam?
			</p>
			<div class="button-group">
				<button type="button" class="btn btn-primary">Create a Book</button>
				<button type="button" class="btn btn-outline-secondary">
					Learn More
				</button>
			</div>
		</div>
	</div>
</div>
