<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item">
			<%= image_pack_tag "write.jpg", class: "d-block w-100" %>
		</div>
		<div class="carousel-item">
			<%= image_pack_tag "publish.jpg", class: "d-block w-100" %>
		</div>
		<div class="carousel-item active">
			<%= image_pack_tag "read.jpg", class: "d-block w-100" %>
		</div>
	</div>

	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="banner">
	<div class="typed_wrap slider-content">
		<h1><span class="typed"></span></h1>
	</div>
</div>
