body {
	// background-color: black;
}

// 網站主視覺色
.main-color {
	color: #333333;
}

// 單頁面主要按鈕
.main-button {
	background-color: #e09a5f;
	color: white;
	border: none;
}

// 各頁面文字顏色
.home,
.sign-in,
.sign-up,
.cart-show,
.cart-payment,
.edit-profile,
.book-index,
.book-new,
.profile-show,
.author,
.library {
	color: #333333;
}

.content-text {
	margin-top: 30px;
}

.home {
	margin-bottom: 50px;
}

.cart-show {
	min-height: 65vh;
}
.notice,
.alert {
	padding: 0px;
	margin: 0px;
}

.notice,
.alert {
	padding: 0px;
	margin: 0px;
}
