
<div class="wrap">
  <div id="sourceTA" class="custom" rows="10" cols="82"></div> <%# 給 codemirror 塞 code highlight 編輯器 %>
  <div id="targetDiv"></div>                                   <%# 給 markdown-it 塞 md to html 的東西 %>
</div>