<section class="book-edit container d-flex justify-content-center mb-4">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h2 class="title">Edit book info</h2>
    </div>
      
    <div class="col-10 col-lg-12 mx-auto text-center">
      <%= render "form", book: @book %>
    </div>
  </div>
</section>