<h1 class="d-flex align-items-center">
  <span class=" ml-auto book_name"><%=  @book.title %></span>

  <span class="ml-auto  text-white btn main-button" id="save">SAVE</span>
</h1>

<%= render "text_editor",book: @book , json: @json%>
<%# 文章編輯頁新增 chapter and section用 %>