<div class="book-new container">
  <div class="row">
    <div class="col-12">
      <h1>new book</h1>
    </div>
    
    <div class="co-12">
      <%= render "form", book: @book %>
    </div>
  </div>
</div>