<h1 class="book_name"><%=  @book.title %><span></span></h1>
<div class="wrap">
  <div class="chapter_list">
    <div class="chapter">chapter_1</div>
    <div class="section">section_1_1</div>
    <div class="section">section_1_3</div>
    <div class="section">section_1_2</div>
    <div class="chapter">chapter_2</div>
    <div class="section">section_2_1</div>
    <div class="section">section_2_2</div>
    <div class="section">section_2_3</div>
    <div class="chapter">chapter_3</div>
    <div class="chapter">chapter_4</div>
  </div>
  <%# <div id="sourceTA" class="custom d-none" rows="10" cols="82"></div> 給 codemirror 塞 code highlight 編輯器 %>
  <div id="targetDiv" class=" flex-grow-1">
    <h1>1</h1>
    <h2>2</h2>
    <h3>3</h3>
    <h4>4</h4>
    <h5>5</h5>
    <h6>6</h6>
    <ul class="mx-0">
      <ol class="mx-0">a</ol>
      <ol class="mx-0">b</ol>
      <ol class="mx-0">c</ol>
    </ul>
    <ol class="mx-0">
      <ol>I</ol>
      <ol>II</ol>
      <ol>III</ol>
      <ol>IIII</ol>
    </ol>
    <img src="https://image.cache.storm.mg/styles/smg-800x533-fp/s3/media/image/2020/01/31/20200131-052418_U17017_M588719_cd2e.jpg?itok=s0SyFjTD" alt="">
  </div>                                   <%# 給 markdown-it 塞 md to html 的東西 %>
</div>