<h1 class="text-center"><span class="book_name"><%=  @book.title %></span>---<span id="sample"><%= @json %></span></h1>

<div id="sampleshow"  class="flex-grow-1 px-5 mx-auto"></div>
                         <%# 給 markdown-it 塞 md to html 的東西 %>
