<h1 class="book_name text-center"><%=  @book.title %><span></span></h1>
<div class="wrap">
  <div class="chapter_list">
    <div class="chapter" id="sample"><%= @json %></div>
  </div>

  <div id="targetDiv" id="samplehtml"class="flex-grow-1 px-5">
                         <%# 給 markdown-it 塞 md to html 的東西 %>
</div>