<h1 class="text-center my-4 container-lg"><span class="book_name"><%=  @book.title %></span>---<span id="sample"><%= @json %></span></h1>

<div id="sampleshow"  class="container-lg flex-grow-1 mx-auto"></div>
                         <%# 給 markdown-it 塞 md to html 的東西 %>
