<h1 class="book_name"><%=  @book.title %><span></span></h1>
<div class="wrap ">
  <div class="chapter_list w-50 mx-auto pl-4">
    <div class="chapter">chapter_1</div>
    <div class="section">section_1_1</div>
    <div class="section">section_1_3</div>
    <div class="section">section_1_2</div>
    <div class="chapter">chapter_2</div>
    <div class="section">section_2_1</div>
    <div class="section">section_2_2</div>
    <div class="section">section_2_3</div>
    <div class="chapter">chapter_3</div>
    <div class="chapter">chapter_4</div>
  </div>
</div>