<script src="https://js.braintreegateway.com/web/dropin/1.23.0/js/dropin.min.js"></script>


<%= form_with(url: '/checkout', method: 'post', id: 'payment_form', local: true) do%>
  <div id="dropin-container"></div>
  <button id="submit-button">付款</button>
  <input type="hidden" value="" id= "nonce" name= "nonce">
<% end %>

<script>
  var button = document.querySelector('#submit-button');

    braintree.dropin.create(
      {
        authorization: '<%= @token %>',
        container: '#dropin-container'
      }, 
      
      function (createErr, instance) {
       button.addEventListener('click', function (e) {
        e.preventDefault();
        instance.requestPaymentMethod(function (err, payload) {
          const form = document.querySelector('#payment_form');
          const nonce_dom = document.querySelector('#nonce');
          nonce_dom.value = payload.nonce;
          form.submit();
         });
       });
      } 
    );
</script>