.book-index {
  .book-info {
    min-height: 20%;
  }

  .book-item {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .book-title {
    font-weight: bold;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.book-author {
  font-size: 13px;
}

form.x {
  display: none;
}

#carouselExampleControls {
  position: relative;
}
