.book-index {
  .book-info {
    min-height: 20%;
  }

  .book-item {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .book-cover{
      box-shadow: 1px 1px 5px #353535;
      object-fit: contain;
      height: 190px;
      
     }
  }

  .book-title {
    font-weight: bold;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    margin: 10px;
    text-align: center;
  }
}

.book-author {
  font-size: 13px;
  text-align: center;
}

form.x {
  display: none;
}

#carouselExampleControls {
  position: relative;
}
.pagination {
  display: flex;
  justify-content: center;
  span {
    margin: 0px 3px 0px 3px ;
  }
}