section.library {
  .user-avatar {
    margin-left: auto;
    margin-right: auto;

    .user-name {
      font-size: 22px;
    }
  }
  .user-books {
    h2 {
      text-align: center;
      margin-bottom: -2rem;
    }
    .book-box {
      .book-item {
        margin-top: 4rem;

        .book-title {
          margin-bottom: .5rem;
          margin-top: .2rem;
          font-size: 18px;
        }
      }
      .container {
        a {
          color: #e09a5f;
        }
      }
    }
  }

  .rating {
    cursor: pointer;
  }

  .rating .rating-star {
    display: inline-block;
    position: relative;
    padding-right: 5px;
    margin-left: -5px;
    color: #e3cf7a;
  }

  div#collapseBook {
    background-color: black;

    .card {
      background-color: black;
    }
    .book-about {
      .author {
        color: #e09a5f;
      }

      a:hover {
        color: #e09a5f;
        line-height: 10px;
      }

      span {
        color: rgba(225, 154, 96, 0.5);
      }
    }
  }
}

.library-info {
  .card.card-body {
    background-color: inherit;
    border-color: #e09a5f;

    .info-group {
      flex-direction: column;

      .cover {
        margin-bottom: 2rem;
      }
      :first-child {
        margin-left: auto;
        margin-right: auto;
      }
      .info {
        margin-bottom: 2rem;
      }
      .book-info {
        .book-info-avatar {
          margin-right: 0;
        }
        .book-show-author {
          .book-show-author-name {
            margin-right: auto;
          }
        }
      }
      .rating, .about {
        text-align: center;
      }
    }
    .book-about {
      text-align: center;
      
      a {
        color: #e09a5f;
        font-size: 18px;
      }
      label[for="comment_content"]{
        font-size: 18px;
      }
      #comment_content {
        resize: none;
        min-height: 6rem;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .library-info {
    .card.card-body {
      .book-about {
        margin-left: auto;
        margin-right: auto;

        label[for="comment_content"]{
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  section.library {
    .library-box {
      flex-wrap: nowrap;
    }
    .user-books {
      h2 {
        text-align: left;
      }
    }
  }
  .library-info {
    .card.card-body {
      .info-group {
        flex-direction: row;
        margin-left: 0;

        .book-info {
          .book-info-avatar {
            margin-left: 0;
          }
        }
        .rating, .about {
          text-align: left;
        }
      }

      .book-about {
        margin-right: auto;
        margin-left: 0;
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  section.library {
    .user-books {
      .book-box {
        .book-item {
          max-width: 20%;
        }
      }
    }
  }
  .library-info {
    .card.card-body {
      .info-group {
        div:first-child {
          margin-right: 0;
        }
      }
      .book-info {
        margin-left: 0!important;

      }
      .book-about {
        .read {
          margin-left: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
