.cart-show{
  .book-cover{
    box-shadow: 1px 1px 5px #353535;
    object-fit: contain;
    height: 190px;
  }
}

.check-out {
  font-size: xx-large;
}

@media screen and (min-width: 992px) {
  .quantity,
  .subtotal {
    display: flex;
    justify-content: center;
  }
}
