.content-text {
	margin-top: 30px !important;
}

i,
a,
div,
span {
	color: #e09a5f !important;
}

button,
.find-some-books {
	background-color: #e09a5f !important;
	color: white !important;
}

body {
	background-color: black !important;
}
