body {
  position: relative;
}

.cart-modal {
  width: 100vw;
  height: 85vh;
  background-color: #fa0;
  position: fixed;
  top: 4.2rem;
  left: 0;
  z-index: 100;

  .modal-header {
    border-bottom: none;
  }
  .modal-content {
    height: 100%;

    .modal-header {
      .modal-title {
        color: black;
      }
    }
  }
  .modal-body {
    .modal-body-title, .modal-body-author {
      color: black;
    }
    .slider {
      .author-earns {
        .modal-author-earns-show {
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .cart-modal {
    top: 4.8rem;
  }
}
