body {
  position: relative;
}

.cart-modal {
  width: 100vw;
  height: 85vh;
  background-color: #fa0;
  position: fixed;
  top: 3.5rem;
  left: 0;
  z-index: 100;
}

.modal-header {
  border-bottom: none;
}

.modal-content {
  height: 100%;
}