.profile-show{
  .author-about{
    width: 100%;
    // height: 292px;
    background: #FFFFFF;
    box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
    border-radius: 7.96477px;
    border: 0.8px solid #F1C39E;
    padding:20px;

  }
  .avatar{
    padding: 0;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
  
  }
  .follow-btn{
    margin-top: 35px;
    height: 50.29px;
  }
  .authers-info{
    padding:0px;
  }
  .user-name{
    text-align: start;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 41.4168px;
    line-height: 49px;
    margin-top: 17px;
    letter-spacing: 0.05em;
    color: #5C5D60 !important;
  
  }
  .user-about{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9295px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #726F6F !important;
    text-align: none;
    margin: 0px 0;
  }
  .user-locate{
    font-family: SF Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #726F6F !important;
    p{
      font-size: 16px;
      margin-left: 15px;
      color: #726F6F !important;
    }
  }

  .follow-grop{
    justify-content: space-between;
  }


  .follow-between {
    font-family: SF Pro Display;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #726F6F !important;
    .number{
      font-weight: bold;
      letter-spacing: 0.1em;
    }
    .following{
      margin-right: 10px;
    }
    .follower{
      margin-left: 10px;
    }
  }
 

  
  .contact{
    margin:0 5%;
  }
  a{
    color: #e09a5f;
    margin-left: 5%;
  }
  .book-container{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
    border-radius: 7.96477px;
  }
  .title{
    margin: 5% 0;
    height: 49.33px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 41.4168px;
    line-height: 49px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #e09a5f !important; 
  }

}