.profile-show {
  .author-about {
    width: 100%;
    // height: 292px;
    background: #ffffff;
    box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
    border-radius: 7.96477px;
    padding: 20px;

    .avatar {
      padding: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-items: space-around;

      .img-box {
        margin-bottom: 1rem;
      }
    }
  }

  .follow-btn {
    margin-bottom: 17px;
    height: 50.29px;
  }
  .authors-info {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

    .user-name {
      text-align: start;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: bold;
      font-size: 41.4168px;
      line-height: 49px;
      margin-top: 17px;
      letter-spacing: 0.05em;
      color: #5c5d60 !important;
      text-align: center;
    }
  }
  .user-about {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9295px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #726f6f !important;
    text-align: none;
  }
  .user-locate {
    font-family: SF Pro Display;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #726f6f !important;
    p {
      font-size: 16px;
      margin-left: 15px;
      color: #726f6f !important;
    }
  }
  .follow-grop {
    justify-content: space-between;
  }
  .follow-between {
    font-family: SF Pro Display;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #726f6f !important;
    .number {
      font-weight: bold;
      letter-spacing: 0.1em;
    }
    .following {
      margin-right: 10px;
    }
    .follower {
      margin-left: 10px;
    }
  }
  .contact {
    margin-right: 6.7%;
  }
  a {
    color: #e09a5f;
    margin-right: 5%;
  }
  .book-container {
    width: 100%;
    background: #ffffff;
    box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
    border-radius: 7.96477px;
  }
  .title {
    margin: 5% 0;
    height: 49.33px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    letter-spacing: 0.05em;
    color: #e09a5f !important;
  }
  .buy-books {
    margin: auto;
    .book-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .book-cover {
        box-shadow: 1px 1px 5px #353535;
        object-fit: contain;
        // height: 190px;
      }

      a {
        text-decoration: none;
      }

      h5 {
        margin-top: 10px;
        font-weight: 700;
        font-size: 15px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
        text-align: center;
      }
      .book-name p {
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .profile-show {
    .author-about {
      height: 100%;
      box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
      border-radius: 7.96477px;
      background-color: transparent;

      .avatar {
        padding-top: 17px;
        margin: 0;

        .img-box {
          margin-bottom: auto;
        }
      }
    }
    .authors-info {
      .user-name {
        text-align: left;
      }
    }
  }
}
