section.flash {
  top: 3.5rem;

  div.alert.alert-success {
    color: #e09a5f;
    background-color: #222;
    max-width: 100%;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    border-color: #888;
  }
  button[data-dismiss="alert"] {
    padding: 0rem 1.25rem;

    span {
      font-size: 38px;
    }
  }
  button[data-dismiss="alert"]:hover {
    color: #e09a5f;
  }
}
section.flash div.alert.alert-success.alert-size {
  height: 5rem;
  line-height: 250%;
}
@media screen and (min-width:768px ){
  section.flash div.alert.alert-success.alert-size {
    height: 3rem;
    line-height: 100%;
  }
}