.layout-navbar {
	border-bottom: 1px solid rgba(225, 154, 96, 0.5);

	.navbar-brand:hover {
		color: gold;
	}
	.nav-item {
		text-decoration: none;
	}
	.nav-item:hover {
		color: gold;
	}
	div .nav-icon:hover {
		animation: shaking 1s infinite;
	}

	.fa-shopping-cart {
		position: relative;
	}
	.fa-shopping-cart {
		.cart-bubble {
			text-align: center;
			line-height: 16px;
			font-size: 8px;
			display: block;
			border-radius: 50%;
			height: 16px;
			width: 16px;
			color: #e09a5f;
			border: 1px solid #e09a5f;
			background-color: black;
			position: absolute;
			top: -10px;
			right: -10px;
		}
	}
}

.layout-dropdown {
	bottom: 0;
	left: 0;
	> .layout-dropdown-child {
		right: 0px;
		background-color: black;
		transform: translateX(100%);
		transition: transform 0.35s ease, opacity 0.7s ease;
		z-index: 100;
		border: 1px solid rgba(225, 154, 96, 0.5);
	}

	&.collapsing {
		height: auto;
		overflow: visible;
		transition: none;
	}

	&.collapse.show {
		display: block !important;
		> .layout-dropdown-child {
			overflow-x: hidden;
			opacity: 1;
			transform: translateX(0);
			z-index: 100;
		}
	}
}
.nav-avatar {
	width: 40px;
	height: 40px;
}
.nav-avatar img {
	width: 100%;
}
.nav-user-info {
	color: white;
	font-size: 14px;
}
.nav-drop-item {
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.nav-drop-item:hover {
	color: gold;
	text-decoration: none;
}
.sign_out_btn {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}
.sign_out_btn:hover {
	text-decoration: none;
	color: white;
}
@keyframes shaking {
	0% {
		transform: rotate(0turn);
	}
	25% {
		transform: rotate(0.05turn);
	}
	50% {
		transform: rotate(0turn);
	}
	75% {
		transform: rotate(-0.05turn);
	}
	100% {
		transform: rotate(0turn);
	}
}
@keyframes shaking {
	0% {
		transform: rotate(0turn);
	}
	25% {
		transform: rotate(0.05turn);
	}
	50% {
		transform: rotate(0turn);
	}
	75% {
		transform: rotate(-0.05turn);
	}
	100% {
		transform: rotate(0turn);
	}
}

.pagination {
	display: flex;
	justify-content: center;

	span {
		margin: 0 6px 20px;
		padding: 0 10px;
		font-size: 20px;
		border: 1px solid #e09a5f;
	}
	span:hover {
		color: gold;
	}
}
