section.author-publishing {
  .author-about {
    width: 100%;
    background: #ffffff;
    box-shadow: 7.16829px 7.16829px 19.9119px rgba(0, 0, 0, 0.15);
    border-radius: 7.96477px;
    border: 0.8px solid #f1c39e;
    padding: 20px 0;
    margin: auto;

    .avatar {
      padding: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-items: space-around;

      .img-box {
        margin-bottom: 1rem;
        p {
          color: #5c5d60 !important;
          font-size: 20px;
        }
      }
      .new-book-button {
        margin-bottom: 17px;
        height: 50.29px;
      }
    }
  }

  .all-books {
    font-style: normal;
    font-weight: bold;
    padding: 20px 0;
    color: #5c5d60 !important;
    text-align: center;
    .author-all-books {
      margin-left: auto;
      margin-right: auto;

      .all-book-info {
        text-align: start;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: bold;
        padding: 20px 0;
        letter-spacing: 0.05em;
        color: #5c5d60 !important;
        text-align: center;
        p {
          margin: auto;
        }
      }
    }

    h4 {
      margin: 20px 0;
      color: #5c5d60 !important;
    }
    .pubbook-item {
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .book-cover {
        box-shadow: 1px 1px 5px #353535;
        object-fit: contain;
        // height: 190px;
      }

      .title {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 700;
        font-size: 15px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        margin: 5px;
      }
    }

    .publish-book {
      margin: auto;
      font-weight: bold;
    }
    .unpublish-book {
      margin: auto;
      font-weight: bold;
    }
  }
  .author-books {
    .off-shelf,
    .on-shelf {
      margin: 0 5px 0 5px;
    }
  }
}

@media screen and (min-width: 992px) {
  section.author-publishing {
    .author-about {
      padding-bottom: 20px;
      border: 0;
      margin-top: 46px;

      .avatar {
        margin: auto;
        .new-book-button {
          padding: 0;
        }

        .img-box {
          margin-bottom: auto;
        }
      }
    }
    .all-books {
      .publish-book {
        .pubbook-item {
          max-width: 20%;
          margin: 10px;
          .title {
            height: 45px;
          }
        }
      }
      .unpublish-book {
        .pubbook-item {
          max-width: 20%;
          margin: 10px;
          .title {
            height: 45px;
          }
        }
      }
    }
    .author-all-books {
      .all-book-info {
        h2 {
          text-align: left;
          padding: 0 15px;
        }
        p {
          text-align: left;
        }
      }
    }
    h4 {
      text-align: left;
    }
  }
}
