section.edit-profile {
  .card {
    .card-body {
      .e-profile {
        #facebook-username {
          display: inline;
        }
        .domain {
          font-size: 16px;
          padding: 5px;
          padding-left: 12px;
          color: #555;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  section.edit-profile {
    .card {
      .card-body {
        .e-profile {
          // #facebook-username {
          //   display: inline;
          // }
          .domain-box {
            display: flex;
            align-items: center;
            .domain {
              font-size: 16px;
              padding: 5px;
              padding-left: 0;
              color: #555;
            }
          }
        }
      }
    }
  }
}