.purchase {
  .text2 {
    color: #888;
  }

  #order-info {
    .info-text2 {
      font-size: 12px;
    }

    .order-box {
      a {
        color: #e09a5f;
        text-shadow: .3px .3px hsla(27, 68%, 63%, .9);
        text-decoration: none;
        transition: font-size .2s linear;
      }
      .col-0 {
        font-size: 0;
        padding: 0;
        width: 0;
      }
      .empty {
        p {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  #order-items {
    .desk {
      display: none;
    }
    a:hover {
      text-decoration: none;
    }
    #purchased-time {
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
    .items-box {
      font-size: 20px;
      border-top: 1px solid #aaa;
      width: 90%;

      div {
        div:first-child {
          text-align: right;
        }
        div:last-child {
          text-align: left;
        }
      }
    }
    .btn {
      border: 1px solid #e09a5f;
      color: #e09a5f;
    }
  }
}

@media screen and (min-width: 992px) {
  .purchase {
    #order-info {
      text-align-last: left;

      .order-box {
        a.orders:hover {
          font-size: 20px;
        }
        .col-0 {
          font-size: inherit;
          width: 100%;
          text-align-last: center;
        }
        .order-item {
          border-top: 1px solid #aaa;
        }
        .empty {
          padding-left: 0;
          text-align: center;

          p {
            text-align-last: center;
          }
        }
      }
    }

    #order-items {
      text-align-last: left;

      .mobile {
        display: none;
      }
      .items-box {
        border: 0;
        font-size: inherit;
      }
      .desk {
        display: initial;

        .items-box {
          width: 100%;

          .row {
            margin-left: 0;
            margin-right: 0;
          }
          .item {
            .row {
              border-top: 1px solid #888;
            }
          }
          .col-2, .col-4 {
            text-align-last: center;
          }
        }
      }
      #purchased-time {
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;
        
        div {
          margin-right: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}