html {
  --bg: #ffffff;
  --txt: #333333;

  // 主要按鈕
  .btn-primary {
    background-color: #e09a5f !important;
    border: #e09a5f;
    color: white !important;
  }
  .btn-primary:hover {
    background: linear-gradient(90deg, #e09a5f 0%, #f1c39e 100%) !important;
  }
  .btn-outline-secondary {
    color: var(--txt) !important;
  }
  .btn-outline-secondary:hover {
    background-color: #cccccc !important;
  }
}

// 關燈後背景
body {
  background-color: var(--bg);

  // 關燈後能看到內容
  [class*="title"],
  [class*="txt"],
  [class*="author"],
  [class*="item"],
  [class*="cover"],
  [class*="name"],
  [class*="icon"],
  [class*="tag"] {
    color: var(--txt);
  }
  // 導覽列下拉選單
  .dropdown-menu {
    background-color: var(--bg);
    border: 1px solid #e09a5f;
  }
}

input[id="switch"] {
  color: var(--main);
}

.layout-navbar {
  label {
    background: grey;
  }

  label::after {
    background-color: white;
  }

  input:checked + label {
    background-color: var(--color-headings);
  }

  [class*="fas fa"],
  .search-btn {
    color: white;
  }
}

.nav-item:hover,
.navbar-brand:hover,
.dropdown-item:hover,
.nav-drop-item:hover {
  color: #e09a5f !important;
}

.dropdown-item:active {
  background-color: #e09a5f !important;
}

.slider-content {
  color: white;
}

.add-to-wishlist .far {
  color: #e09a5f !important;
}

.cart-bubble {
  background-color: var(--bg);
  color: var(--txt);
}


.swal2-icon.swal2-question.swal2-icon-show {
  .swal2-icon-content {
    color: #87adbd;
  }
}