html {
  // 版面共同設定
  .home,
  .author-publishing,
  .profile-show,
  .book-index,
  .book-show,
  .book-new,
  .book-edit,
  .library,
  .sign-in,
  .sign-up,
  .cart-show,
  .cart-payment,
  .purchase,
  .resend-confirmation,
  .wishlist {
    min-height: 100vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .notice,
  .alert {
    padding: 0px;
    margin: 0px;
    max-width: 576px;
  }

  .footer {
    position: relative;
    bottom: 0;
  }
}
