html {
  // height: 100vh;

  // body {
  //   display: flex;
  //   flex-direction: column;
  // }

  .footer {
    bottom: 0;
    height: 10vh;

    span {
      color: #fff !important;
    }
  }
  // 版面共同設定
  .author-publishing,
  .profile-show,
  .book-index,
  .book-show,
  .book-new,
  .book-edit,
  .library,
  .sign-in,
  .sign-up,
  .cart-show,
  .cart-payment,
  .purchase,
  .pricing,
  .resend-confirmation,
  .wishlist,
  .followship {
    min-height: 75vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .notice,
  .alert {
    padding: 0px;
    margin: 0px;
    max-width: 576px;
  }
}
.removeWish {
  border-radius: 12.279px;
}
