<section class="flash">
  <% if notice.present? %>
    <div class="alert-size alert alert-success alert-dismissible fade show " role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  
  <% if alert.present? %>
    <div class="alert-size alert alert-success alert-dismissible fade show " role="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</section>
